.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.invert{
filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Dark background for the track */
    border-radius: 10px; /* Optional: Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #555555; /* Lighter color for the thumb */
    border-radius: 10px; /* Optional: Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #777777; /* Change color on hover */
}

/* For Firefox */
.scrollable-element {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #555555 #2c2c2c; /* thumb color and track color */
}
